#map {
  /* TODO(AshleyLTW) placeholder until we add a map */
  background-color: #add8e6;
  height: 100vh;
  position: absolute;
  width: 100%;
  z-index: 1;
}

#address-form {
  /* overwrite skeleton margins on form */
  margin-top: 50px;
  margin-bottom: 0;
  position: absolute;
  width: 100%;
  z-index: 2;
}

#search-location {
  background: #fffcfc;
  border: 2px solid #9e9e9e;
  border-radius: 6px;
  font-size: 2em;
  height: 3em;
}

#reportButton {
  position: absolute;
  z-index: 3;
}
